<!DOCTYPE html>
<html>

<head>

<title>Document Clustering System</title>

<style>

body{
font-family:Arial;
text-align:center;
background:#f4f6f9;
}

.card{
display:inline-block;
padding:30px;
margin:20px;
background:white;
box-shadow:0 0 10px gray;
width:250px;
}

a{
text-decoration:none;
}

</style>

</head>

<body>

<h1>Smart Document Clustering System</h1>

<div class="card">

<h2>Upload Document</h2>

<a href="/upload">

<button>Open</button>

</a>

</div>

<div class="card">

<h2>View Documents</h2>

<a href="/documents">

<button>Open</button>

</a>

</div>

<div class="card">

<h2>Admin Dashboard</h2>

<a href="/admin">

<button>Open</button>

</a>

</div>

</body>

</html>
